
body {
  background-image: url(https://cdn.pixabay.com/photo/2015/10/31/00/43/background-texture-1014963_1280.jpg);
  /*Image from pixaby*/
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(155,155,155,1);
  text-align: center;

}

header {
  max-width: 100%;
  font-family:fantasy;
  font-size: 34px;
  border: 2px solid rgba(0,0,0,0,1);
  background-color:rgba(0, 0, 0, 0.6);

}

main {
  color: rgba(0,0,0,0,1)
  font-size: 22px;
  font-family: monospace;
  border: 2px solid rgba(0,0,0,0,1);
  background-color: rgba(0,0,0,.6);

}
#questions li{list-style-type: none;}

footer {
  font-size: 15px;
  font-family: monospace;
  color: rgba(155, 155, 155,1);
  border: 1px solid rgba(0,0,0,0,1);
  background-color: rgba(0,0,0,0.6);

}
div {
  float: right;
  max-width: 33%;
  font-size: 15px;
  font-family: monospace;
  color: rgba(155, 155, 155,1);
  border: 1px solid rgba(0,0,0,0,1);
  background-color: rgba(0,0,0,0.6);
}
h4 {
  float: left;
  max-width: 33%;
  font-size: 20px;
  font-family: monospace;
  color: rgba(155, 155, 155,1);
  border: 1px solid rgba(0,0,0,0,1);
  background-color: rgba(0,0,0,0.6);
}

ol{ list-style-position:inside;
    float: left;
    text-align: left;
    max-width: 33%;

}
